In [1]:
# Loops = for loop and while loop

range(5)       # 0,1,2,3,4    for(i=0;i<5;i++)
range(1,5)     #1,2,3,4       for(i=1;i<5;i++)
range(1,10,2)  # 1,3,5,7,9

range(1, 10, 2)

In [2]:
for i in range(5):
   # print(i)
    print(i,end=' ')  # end = to print in horizontal line

0 1 2 3 4

In [3]:
for i in range(1,5):
    print(i,end=' ')

1 2 3 4

In [4]:
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

In [5]:
for i in range(5,-1,-1):   #  5,-1,-1 = from 5 t0 0 at gap 1
    print(i,end=' ')

5 4 3 2 1 0

In [6]:
a = int(input('Enter n = '))   # a =n
for i in range(1,11):          # i = 1 to 10
    print(a,'*',i,'=',a*i)     # multiply

Enter n = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [7]:
a = 0
b = int(input('Enter n='))
for i in range(b):
    x = int(input('Enter x='))
    a = a + x
print(a)

Enter n=2
Enter x=3
Enter x=3
6

In [8]:
#a = ''  empty string
a = str()
b = int(input('Enter n='))
for i in range(b):
    x = (input('Enter x='))
    a = a  + x + '\n' 
print(a)

Enter n=2
Enter x=ram
Enter x=2
ram
2

In [9]:
# a = '' empty string
a = str()
b = int(input('enter n ='))
for i in range(b):
    name = input('Enter name =')
    phone = input('Enter phone =')
    a = a + name + ' ' + phone + '\n'
print(a)

enter n =2
Enter name =ram
Enter phone =123
Enter name =shyam
Enter phone =456
ram 123
shyam 456

In [10]:
a

'ram 123\nshyam 456\n'

In [11]:
# calculate factorial of a number

fact = 1
n = int(input('Enter n ='))
if n>0:
    for i in range(1,n+1):
        fact = fact*i
        print(fact)
        
elif n==0:
        print('factorial =',1)
    
else:
        print('value should be >= 1')

Enter n =2
1
2

In [12]:
# for loop in string

a = 'python'
for i in a:
    print(i,'hi')

p hi
y hi
t hi
h hi
o hi
n hi

In [13]:
a = 'hey! there'
for i in a:
    print(i,end='')

hey! there

In [14]:
a = 'hey! ram'
for i in a:
    if i!='.' and i!=' ':
        print(i,end='')

hey!ram

In [15]:
# while loop 
# while<condition>:
# while <operation>

In [16]:
#while True:
   # print('hello')   # infinite loop

In [17]:
a = 10
while a>=0:
    print(a,'hello')
    a=a-1

10 hello
9 hello
8 hello
7 hello
6 hello
5 hello
4 hello
3 hello
2 hello
1 hello
0 hello

In [18]:
a = 0
while a<=5:
    print(a,'hello')
    a = a+1

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello

In [19]:
s = 0 
i = 0                   # 0 for add/sub and 1 for mul/div 
n = int(input('Enter n='))
while i<n:
    x = int(input('Enter x='))
    s =  s + x
    i=i+1
print(s)

Enter n=2
Enter x=3
Enter x=4
7

In [20]:
# s = ''  
i = 0
s = str()
n = int(input('Enter n='))
while i<n:
    name = input('Enter name =')
    phone = input('Enter phone =')
    s = s + name + ' ' + phone + '\n'
    i=i+1
print(s)

Enter n=2
Enter name =anu
Enter phone =123
Enter name =binu
Enter phone =456
anu 123
binu 456